<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUISqPz3n4h03i8_kh3YfvolNYrynv7yA&libraries=places,visualization" async defer></script>
@*    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>*@
@*    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>*@


</head>
<body ng-app="Authentication">
    <div ng-controller="NavController">
        <!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="#">Nashville's Next Neighborhood</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="goToHome()" style="cursor:pointer">Home</a></li>
                        <li><a ng-click="logout()" style="cursor:pointer">Logout</a></li>
                        <li><a ng-click="goToSavedLocations()" style="cursor:pointer">Saved Locations</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

      

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUISqPz3n4h03i8_kh3YfvolNYrynv7yA&libraries=places,visualization"async defer></script>*@
</body>
</html>
